/* Main */
.main__modal-btn {
	margin: 1.2rem 0 1.2rem .6rem;
}

th>span {
	cursor: pointer;
	-webkit-user-select: none;	
}

th {
	transition: background-color .6s;
}

th:hover:not(:nth-child(1)) {
	background-color: #b8ccc4;
}

.btn-container {
	display: flex;
	justify-content: space-between;
	margin: 25px 0;
}

.btn-reset {
	padding: 0;
}

.button_img {
	max-height: 38px;
}

.main__modal {
	margin-top: 25px;
}

.modal-dialog {
	max-width: 875px;
}